h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-base;
}

.bg-primary {
  background-color: rgba(245, 191, 79);
}

.bg-page {
  background-color: rgba(250, 248, 245);
}

.text-primary {
  color: rgba(245, 191, 79);
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgba(245, 191, 79, var(--tw-border-opacity));
}

.logo-title {
  @apply text-2xl font-bold;
}

.max-w-recipecard {
  max-width: 310px;
}
